[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
slack-bolt = "*"
python-dotenv = "*"
websockets = "*"
aiohttp = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
